<section class="card">
  <a href="/paintings/{{id}}">
    <header>{{name}}</header>
    {{!-- look to see if the . is needed after paintings --}}
    {{!-- <img src="{{gallery.paintings[0].filename}}" alt="{{gallery.paintings[0].description}}"> --}}
  </a>
</section>