<div class="container">
    <div class="row">
        <form id="blog-update-form">
            <h1 class="h3 mb-3 fw-normal"> update gallery</h1>
            <div class="form-group m-1">
                <label class="p-1" for="title-input">Name</label>
                <input class="form-control p-1" id="title-input" value= "{{ gallery.name }}""> 
            </div>
            <button type="submit" class="btn btn-primary m-1" id="update-button">Update</button>
            <button type="button" class="btn btn-primary m-1" id="delete-button">Delete</button>
        </form>
    </div>
</div>
<script src="/js/galleryUpdate.js"></script>