<div class="text-center p-1">
    <h2>Create New Gallery</h2>
    <form id="new-gallery-form">
        <div class="form-group m-1">
            <label for="name-input">Name</label>
            <input type="text" class="form-control" id="name-input" placeholder="Gallery Title">
        </div>
  
        <button type="submit" class="btn btn-primary m-1">Create</button>
    </form>
</div>
<script src="/js/createGallery.js"></script>